.darkBgColor {
  background-color: rgb(78, 73, 122);
}

.darkPrimaryTextColor {
  color: rgb(234, 242, 250);
}

.darkIconColor {
  color: rgb(234, 242, 250);
}

/* light colors */

.lightBgColor {
  background-color: #fff;
}

.lightPrimaryTextColor {
  color: #0000;
}

.lightSecondaryTextColor {
  color: #858598;
}

.lightIconColor {
  color: #858598;
}
