/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */

/* body {
  background-color: #ffffff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
} */

.container {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0.08em;
  color: #000000;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 25px;
  padding-right: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 580px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    max-width: 610px;
  }
}

@media screen and (min-width: 1180px) {
  .container {
    max-width: 1210px;
    /* padding-left: 50px;
    padding-right: 50px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
}
