.container {
  padding-top: 40px;
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.23;
  text-align: center;
}
.slogan {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-align: center;
}

/* cart */

.item {
  width: 280px;
  height: 370px;
}
.foto {
  margin-bottom: 20px;
  width: 280px;
  height: 246px;
  object-fit: cover;
}
.itemTitle {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.itemPosition {
  margin-bottom: 20px;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #858598;
}

/* social links */
.socialList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialListItem:not(:last-child) {
  margin-right: 10px;
}
.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialLink:hover,
.socialLink:focus {
  background-color: #ffbc33;
}

.socialLinkIcon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialLink:hover .socialLinkIcon,
.socialLink:focus .socialLinkIcon {
  fill: white;
}

@media screen and (min-width: 580px) {
  .title {
    font-size: 30px;
  }
  .slogan {
    font-size: 18px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  .item {
    margin: 10px;
    width: calc((100% - 50px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .item {
    margin: 10px;
    width: calc((100% - 90px) / 4);
  }
}
