.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .taskList {
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 40px;
    flex-direction: row;
  }

  .taskItem {
    flex-basis: calc((100% - 40px) / 2);
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1280px) {
  .taskList {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 0;
    min-height: 540px;
  }

  .taskItem {
    flex-basis: calc((100% - 40px) / 3);
    box-sizing: border-box;
  }
}
