.cardContainer {
  margin-top: 10px;
  width: 100%;
  max-width: 280px;
  filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.1));
  border-radius: 6px;
  overflow: hidden;
}

.cardContainer:hover {
  filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.3));
}

@media screen and (min-width: 768px) {
  .cardContainer {
    width: 280px;
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .cardContainer {
  }
}

.cardFooter {
  width: 100%;
  height: 68px;
  background-color: #ffbc33;
}
