.Awards__List {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -10px;
  margin-bottom: -10px;

  @media screen and (min-width: 580px) {
    margin-top: -20px;
    margin-left: -20px;
  }
  @media screen and (min-width: 1180px) {
  }
}

.Awards__ListItem {
  margin-left: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: 580px) {
    flex-basis: calc((100% / 2) - 40px);
    margin-top: 20px;
    margin-left: 20px;
  }
  @media screen and (min-width: 1180px) {
    flex-basis: calc((100% / 4) - 80px);
  }
}

.Awards__ListItemWrapper {
  width: 280px;
  height: 262px;
}
.Awards__ListImage {
  width: 280px;
  height: 194px;
  background-color: #cccccc;
  border-radius: 6px 6px 0px 0px;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.1);
}
.Awards__ListFooter {
  position: relative;
  width: 280px;
  height: 68px;
  background-color: #ffbc33;
  border-end-start-radius: 6px;
  border-end-end-radius: 6px;
}
.Awards__ListName {
  position: absolute;
  left: 20px;
  top: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #000000;
}
.Awards__ListTextWrapper {
  position: absolute;
  left: 20px;
  top: 34px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  height: 18px;
  width: 94px;
  border-radius: 3px;
  background-color: rgba(86, 121, 215, 1);
}
.Awards__ListText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  display: block;

  color: #ffffff;
}
