.AwardsTitle__Wrapper {
  position: relative;
  width: 217px;
  height: 26px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.AwardsTitle__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
}

.AwardsTitle {
  margin-left: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 60px;

  color: #000000;
}
